In [4]:
import requests

years = list(range(1991, 2022))

for year in years:
    url = f'https://www.basketball-reference.com/awards/awards_{year}.html'
    data = requests.get(url)
    
    with open(f'NBA/{year}.html', 'w+') as f:
        f.write(data.text)

In [7]:
from bs4 import BeautifulSoup
import pandas as pd

In [18]:
dfs = []

for year in years:
    with open(f'NBA/{year}.html') as f:
        page = f.read()
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='over_header').decompose()
    mvp_table = soup.find(id='mvp')
    mvp = pd.read_html(str(mvp_table))[0]
    mvp['Year'] = year
    
    dfs.append(mvp)

In [20]:
mvps = pd.concat(dfs)

In [21]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [22]:
mvps.shape

(474, 21)

In [25]:
mvps.to_csv('mvps.csv')

In [27]:
mvps.tail()

,index,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
469,10,11,Russell Westbrook,32,WAS,0.0,5.0,1010,0.005,65,...,11.5,11.7,1.4,0.4,0.439,0.315,0.656,3.7,0.075,2021
470,11,12,Ben Simmons,24,PHI,0.0,3.0,1010,0.003,58,...,7.2,6.9,1.6,0.6,0.557,0.300,0.613,6.0,0.153,2021
471,12,13T,James Harden,31,TOT,0.0,1.0,1010,0.001,44,...,7.9,10.8,1.2,0.8,0.466,0.362,0.861,7.0,0.208,2021
472,13,13T,LeBron James,36,LAL,0.0,1.0,1010,0.001,45,...,7.7,7.8,1.1,0.6,0.513,0.365,0.698,5.6,0.179,2021
473,14,13T,Kawhi Leonard,29,LAC,0.0,1.0,1010,0.001,52,...,6.5,5.2,1.6,0.4,0.512,0.398,0.885,8.8,0.238,2021

In [28]:
url_20 = 'https://www.basketball-reference.com/leagues/NBA_2020_per_game.html'

data = requests.get(url_20)
with open('player/2020.html', 'w+') as f:
    f.write(data.text)

In [29]:
from selenium import webdriver

In [1]:
## xattr -d com.apple.quarantine chromedriver --> run on terminal

In [35]:
driver = webdriver.Chrome(executable_path='/Users/abdullahalmomin/Documents/PROJECTS/chromedriver')

/var/folders/b0/2gd4pmxn5g793y37y_qkjqkr0000gn/T/ipykernel_13043/1644612873.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='/Users/abdullahalmomin/Downloads/chromedriver')

In [36]:
import time

In [37]:
for year in years:
    url = f'https://www.basketball-reference.com/leagues/NBA_{year}_per_game.html'
    
    driver.get(url)
    driver.execute_script('window.scrollTo(1, 10000)')
    time.sleep(2)
    
    html = driver.page_source
    with open(f'player/{year}.html', 'w+') as f:
        f.write(html)

In [38]:
df = []

for year in years:
    with open(f'player/{year}.html') as f:
        page = f.read()
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose()
    player_table = soup.find(id='per_game_stats')
    player = pd.read_html(str(player_table))[0]
    player['Year'] = year
    
    df.append(player)

In [39]:
df[0].head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991

In [40]:
players = pd.concat(df)

In [42]:
players.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
725,536,Delon Wright,PG,28,SAC,27,8,25.8,3.9,8.3,...,1.0,2.9,3.9,3.6,1.6,0.4,1.3,1.1,10.0,2021
726,537,Thaddeus Young,PF,32,CHI,68,23,24.3,5.4,9.7,...,2.5,3.8,6.2,4.3,1.1,0.6,2.0,2.2,12.1,2021
727,538,Trae Young,PG,22,ATL,63,63,33.7,7.7,17.7,...,0.6,3.3,3.9,9.4,0.8,0.2,4.1,1.8,25.3,2021
728,539,Cody Zeller,C,28,CHO,48,21,20.9,3.8,6.8,...,2.5,4.4,6.8,1.8,0.6,0.4,1.1,2.5,9.4,2021
729,540,Ivica Zubac,C,23,LAC,72,33,22.3,3.6,5.5,...,2.6,4.6,7.2,1.3,0.3,0.9,1.1,2.6,9.0,2021

In [44]:
players.shape

(18044, 31)

In [58]:
players.reset_index(inplace=True)

In [59]:
players.to_csv('players.csv')

In [47]:
for year in years:
    url_team = f'https://www.basketball-reference.com/leagues/NBA_{year}_standings.html'
    data = requests.get(url_team)
    
    with open(f'team/{year}.html', 'w+') as f:
        f.write(data.text)

In [49]:
df = []
for year in years:
    with open(f'team/{year}.html') as f:
        page = f.read()
        
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose()
    team_table = soup.find(id='divs_standings_E')
    team = pd.read_html(str(team_table))[0]
    team['Year'] = year
    team['Team'] = team['Eastern Conference']
    del team['Eastern Conference']
    df.append(team)
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose()
    team_table = soup.find(id='divs_standings_W')
    team = pd.read_html(str(team_table))[0]
    team['Year'] = year
    team['Team'] = team['Western Conference']
    del team['Western Conference']
    df.append(team)

In [52]:
teams = pd.concat(df)

In [53]:
teams.tail()

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                  Team
13  42  30  .583     —  112.4  110.2   2.26  2021     Dallas Mavericks*
14  38  34  .528   4.0  113.3  112.3   1.07  2021    Memphis Grizzlies*
15  33  39  .458   9.0  111.1  112.8  -1.58  2021     San Antonio Spurs
16  31  41  .431  11.0  114.6  114.9  -0.20  2021  New Orleans Pelicans
17  17  55  .236  25.0  108.8  116.7  -7.50  2021       Houston Rockets

In [54]:
teams.shape

(1033, 9)

In [56]:
teams.reset_index(inplace=True)

In [57]:
teams.to_csv('teams.csv')